{% extends 'raycaster/layout.html.twig' %}
{% block content %}
    {{ parent() }}

    {% embed 'layout/card.html.twig' %}
        {% block title %}Raycaster Demos{% endblock %}
        {% block content %}
            <p>A set of demos that use the same game raycasting engine.</p>
            {% import 'macros/img.html.twig' as img %}
            {% set path_demos = 'raycaster/modules/' %}
            <div class="row">
                {% for s in [
                    'whiteroom',
                    'demo1',
                    'mansion',
                    'hotd-demo',
                    'village',
                    'city'
                ] %}
                <div class="col lg-3 md-4 sm-6 xs-12">
                    <figure>
                        <a href="{{ path_demos ~ s }}"><img src="{{ path_demos ~ s ~ '/thumbnail.png' }}" /></a>
                        <figcaption><a class="btn small" href="{{ path_demos ~ s }}">{{ s }}</a></figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}